ipcp-accept-local
ipcp-accept-remote
refuse-eap
require-mschap-v2
noccp
noauth
mtu 1280
mru 1280
persist
nodefaultroute
usepeerdns
remotename 192.168.101.254
name jfdpc001
lcp-echo-interval 20
lcp-echo-failure 5
