name: Ansible Test (Linux Runner)

on:
  push:
  pull_request:

jobs:
  ansible:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core

      - name: Check Ansible version
        run: ansible --version

      - name: Run Ansible Playbook
        env:
          LANG: C.UTF-8
          LC_ALL: C.UTF-8
        run: |
          ansible-playbook \
            -i inventories/github_actions/hosts.yml \
            playbooks/test_github_actions.yml
