name: Ansible Windows Test

on:
  push:
  pull_request:

jobs:
  ansible:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          pip install "ansible-core<2.16" pywinrm

      - name: Run Ansible (force UTF-8)
        shell: pwsh
        env:
          PYTHONUTF8: "1"
          PYTHONIOENCODING: "utf-8"
        run: |
          python -X utf8 -c "from ansible.cli.playbook import PlaybookCLI; PlaybookCLI(['ansible-playbook', '-i', 'inventories/github_actions/hosts.yml', 'playbooks/test_github_actions.yml']).run()"
